<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="D:/TESTING/AUTOMATION TEST/03 - Java Hybrid Framework/hybrid-framework-nopcommerce-30/src/testcases/com/nopcommerce/account"><classes/></test></suite>